html {
  font-size: 62.5%;
}

.section-em {
  font-size: 1.6em;
}

.section-em div {
  font-size: 1.6em;
}

.section-em div p{
  font-size: 1.6em;
}

.section-rem {
  font-size: 1.6rem;
}

.section-rem div {
  font-size: 1.6rem;
}

.section-rem div p{
  font-size: 1.6rem;
}

